ConsoleApp1/ConsoleApp1/Connected Services/SR1/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://ws/" targetNamespace="http://ws/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ConversionEruoToDH" type="tns:ConversionEruoToDH" />
  <xs:element name="ConversionEruoToDHResponse" type="tns:ConversionEruoToDHResponse" />
  <xs:element name="compte" type="tns:compte" />
  <xs:element name="getCompte" type="tns:getCompte" />
  <xs:element name="getCompteResponse" type="tns:getCompteResponse" />
  <xs:element name="listCompte" type="tns:listCompte" />
  <xs:element name="listCompteResponse" type="tns:listCompteResponse" />
  <xs:complexType name="ConversionEruoToDH">
    <xs:sequence>
      <xs:element name="montant" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConversionEruoToDHResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getCompte">
    <xs:sequence>
      <xs:element name="code" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getCompteResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:compte" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="compte">
    <xs:sequence>
      <xs:element name="code" type="xs:long" />
      <xs:element name="solde" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listCompte">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listCompteResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:compte" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>